name: deploy-book

on:
  push:
    branches:
      - main

jobs:
  build-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Install dependencies
        run: |
          pip install -U jupyter-book ghp-import

      - name: Build the book
        run: |
          jupyter-book build .

      - name: Deploy to GitHub Pages
        run: |
          ghp-import -n -p -f _build/html
